.footer {
  position: absolute;
  padding: 5px;
  padding-left: 20px;
  left: 0;
  bottom: 0;
  width: 100%;
  font-size: small;
  background-color: #eee;
}

.entry {
  padding: 10px;
}

.vertical-text {
  margin-top: auto;
  margin-bottom: auto;
}

.title-container {
  background-color:#e6e6e6;
  color: black;
  padding: 10px; 
  margin-bottom: 20px;
  border-radius: 3px;
  width: 100%;
  margin-left: 20px;
  margin-right: 10px;
}

.title-container-big {
  background-color:grey;
  color: white;
  padding: 10px; 
  margin-bottom: 20px;
  border-radius: 3px;
  width: 100%;
}

.center-bar {
  background-color: #e6e6e6;
}

.box {
  border-color: grey;
  border-style: solid;
  border-width: 1px;
  display: inline-block;
  border-radius: 2px;
  margin: 1px;
}

.not-known {
  color: lightgray;
}
.selector{
  margin: 10px;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.spa {
  margin-right: 5px;
}

.full-width-span {
  width: 100%;
}
.marg {
  margin-bottom: 10px;
  background-color: white;
  padding-bottom: 10px;
  padding-top: 10px;
  border-radius: 3px;

}

.no-marg {
  margin-bottom: 2px;
}

.input-select {
  border-style: solid;
  border-radius: 4px;
  border-width: 2px;
  border-color: red;
}